{% extends 'base.html'%}

{% block mytitle %}
    Начальная страница.
{% endblock %}

{% block mycontent %}
    <div class = "container">
        <div class = "raw">
            <h1>
                Привет, {{name}}
            </h1>
            <h2>
                Еще привет
            </h2>
            <h3>
                Еще привестистее
            </h3>
            <h4>
                Ну еще куда
            </h4>
            <div>
                Серега ККУКУ
            </div>
        </div>
    </div>

{% endblock %}

