{% extends 'base.html'%}

{% block mytitle %}
    Страница Сержа.
{% endblock %}

{% block mycontent %}

    <div>
        SERJE Серега ККУКУ
    </div>

    <div class="jumbotron text-center">
      <h1>Моя первая Bootstrap страница</h1>
      <p>Измените размер этой адаптивной страницы, чтобы увидеть эффект!</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>Колонка 1</h3>
          <p>Просто текст ..</p>
          <p>Новый текст..</p>
        </div>
        <div class="col-sm-4">
          <h3>Колонка 2</h3>
          <p>Просто текст ..</p>
          <p>Новый текст..</p>
        </div>
        <div class="col-sm-4">
          <h3>Колонка 3</h3>
          <p>Просто текст ..</p>
          <p>Новый текст..</p>
        </div>
      </div>
    </div>

    <div class="container">
      <h2>Bordered Table</h2>
      <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
</div>


{% endblock %}

